<%- include('navbar') %>
<div id="change-password">
    <h2 id="change-password-title">Change Password</h2>
    <p>Update your account password here.</p>
    <form action="/user/change-password" method="POST">
        <br><br>
        <label for="email">Email</label>
        <br><br>
        <input type="email" name="email" placeholder="email@example.ie" required>
        <br><br>
        <label for="currentPassword">Current Password</label>
        <br><br>
        <input type="password" name="currentPassword" required>
        <br><br>
        <label for="newPassword">New Password</label>
        <br><br>
        <input type="password" name="newPassword" required 
               minlength="8" 
               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" 
               title="Password must be at least 8 characters long and contain at least one letter and one number">
        <br><br>
        <input id="change-password-submit" type="submit" value="Change Password">
        <a href="/">Cancel</a>
    </form>
</div>