<%- include('navbar') %>
<body>
    <div class="account-deleted-container">
        <h2>Account Deleted</h2>
        <p>The account associated with <strong><%= email %></strong> has been successfully deleted.</p>
        <a href="/" class="btn">Go Home</a>
      </div>
</body>

