<%- include('navbar') %>
<h1>Admin Sign In</h1>
    <form action="/admin_signin" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Sign In</button>
    </form>

    <% if (message) { %>
      <p class="error-message"><%= message %></p>
    <% } %>