<div id="navigation-bar">
    <header>
        <link rel="stylesheet" href="stylesheets/style.css">
        <nav>
            <a id="home_button" href="/">Home</a>
            <a id="create_button" href="search">Search User</a>
            <a id="create_restaurant_button"href="create_restaurant">Restaurant Sign Up</a>
        </nav>
    </header>
</div>