<%- include('admin_navbar') %>
<head>
  <title>Admin Dashboard</title>
</head>
<body>
  <h1>Admin Dashboard</h1>
  <div id="admin-content">
    <p>Welcome, Admin! Here you can manage users, restaurants, and more.</p>
  </div>
</body>
</html>
