<div id="navigation-bar">
    <header>
        <link rel="stylesheet" href="stylesheets/style.css">
        <nav>
            <a id="home_button" href="/">Home</a>
            <a id="sign_in"href="admin_signin">Sign in</a>
        </nav>
    </header>
</div>