<div id="navigation-bar">
    <header>
        <link rel="stylesheet" href="stylesheets/style.css">
        <nav>
            <a id="home_button" href="/">Home</a>
            <a id="sign_in"href="admin_signin">Sign in</a>


            <div class="dropdown">
                <button class="dropbtn">Search</button>
                <div class="dropdown-content">
                    <a id="search_user" href="search">Users</a>
                    <a id="search_order" href="orders">Orders</a>
                    <a id="search_driver" href="driverList">Drivers</a>
                </div>
            </div>
        </nav>
    </header>
</div>