<%- include('navbar') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Basket</title>
</head>
<body>
    <h1>Your Basket</h1>

    <% if (basket && basket.length > 0) { %>
        <ul>
            <% basket.forEach(function(item) { %>
                <li>
                    Product: <%= item.product %>, Quantity: <%= item.quantity %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Your basket is empty.</p>
    <% } %>

  <form action="/empty-basket" method="POST">
    <button type="submit">Empty Basket</button>
  </form>
  
</body>
</html>
