<%- include('navbar') %>
<h2><%= message %></h2>
<% if (driver) { %>
  <p>Driver: <%= driver.name %></p>
  <p>Phone: <%= driver.phone_number %></p>
<% } else { %>
  <p>No driver available right now.</p>
<% } %>
