<!-- deleteProducts.ejs (or whatever your view file is) -->
<form action="/delete-all-products" method="POST">
    <button type="submit" class="delete-button">Delete All Products</button>
  </form>
  