<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css"> <!-- Linking the stylesheet -->
    <title>Home - FoodFaster.ai</title>
</head>
<body>
    <%- include('navbar') %> <!-- Navbar inclusion -->
    <h1>Welcome to FoodFaster.ai</h1>
    <a href="/users/create_user">Create User</a>
    <a href="/restaurants/create_restaurant">Create Restaurant</a>
    <a href="/restaurants/delete_restaurant">Delete Restaurant</a>
</body>
</html>
