<div id="navigation-bar">
    <header>
        <link rel="stylesheet" href="stylesheets/style.css">
        <nav>
            <a id="home_button" href="/">Home</a>
            <a id="browse" href="browse_menu">Browse</a>
<<<<<<< Updated upstream
<<<<<<< Updated upstream

            <!-- Sign In Dropdown -->
            <div class="dropdown">
                <a class="dropbtn" href="#">Sign in</a>
=======
=======
>>>>>>> Stashed changes
            
            <!-- Sign In Dropdown -->
            <div class="dropdown">
                <button class="dropbtn">Sign in</button>
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
                <div class="dropdown-content-signin">
                    <a id="signin_user" href="user_signin">User</a>
                    <a id="signin_admin" href="admin_signin">Admin</a>
                </div>
            </div>

            <!-- Register Dropdown -->
            <div class="dropdown">
<<<<<<< Updated upstream
<<<<<<< Updated upstream
                <a class="dropbtn" href="#">Register</a>
                <div class="dropdown-content-create">
                    <a id="register_user" href="create_user">User</a>
                    <a id="create_restaurant" href="create_restaurant">Restaurant</a>
                    <a id="create_driver" href="create_driver">Driver</a>
=======
=======
>>>>>>> Stashed changes
                <button class="dropbtn">Register</button>
                <div class="dropdown-content-create">
                    <a id="register_user" href="create_user">User</a>
                    <a id="register_restaurant" href="create_restaurant">Restaurant</a>
                    <a id="register_driver" href="create_driver">Driver</a>
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
                </div>
            </div>
        </nav>
    </header>
</div>
