<div id="navigation-bar">
    <header>
        <link rel="stylesheet" href="stylesheets/style.css">
        <nav>
            <a id="home_button" href="/">Home</a>
            <a id="user_signin"href="user_signin">Sign in</a>
            <a id="create_button" href="create_user">User Sign Up</a>
            <a id="admin_signin" href="admin_signin">Admin Sign in</a>
        </nav>
    </header>
</div>