<div id="navigation-bar">
    <header>
        <link rel="stylesheet" href="stylesheets/style.css">
        <nav>
            <a id="home_button" href="/">Home</a>
            <a id="create_button" href="create_user">User Sign Up</a>
            <a id="create_restaurant_button"href="create_restaurant">Restaurant Sign Up</a>
            <a id="change_password_button"href="change-password">Change Password</a>
        </nav>
    </header>
</div>