<div id="navigation-bar">
    <header>
        <link rel="stylesheet" href="stylesheets/style.css">
        <nav>
            <img id="logo" src="images/htmlmast.png" width="64" height="64">
            <a id="home_button" href="/">Home</a>
            <a id="about_button" href="about">About</a>
            <a id="create_button" href="create_user">Sign Up</a>
        </nav>
    </header>
</div>